@page
@model AuthenticationProject.Pages.LogoutModel
@{
}
<form method="post">
    <button class="btn btn-primary" asp-page-handler="Logout">Yes</button>
    <button class="btn btn-success" asp-page-handler="DoNotLogout">No</button>
</form>